<ion-view hide-nav-bar="true">
    <ion-content scroll="false" class="produit" ng-class="produit.classeFlou">

        <div class="item item-icon-left nav" ng-click="produit.myGoBack()">
            <i class="icon left ion-android-arrow-back"></i>
        </div>

        <div class="photo">
            <img src="mocks/pictures/articles/chaussure.jpg">
            <i class="ion-chevron-left"></i>
            <i class="ion-chevron-right"></i>
        </div>
        <div class="description">
            <div class="bloc-titre">
                <div>
                    <p>pharrell williams stan smith solid</p>
                    <p>150&euro;</p>
                </div>
            </div>
            <ul>
                <li>tige en cuir pleine fleur premium</li>
                <li>semelle intérieure en cuir</li>
                <li>3 bandes perforées</li>
                <li>design pharrell williams</li>
                <li>motif pharrell williams gravé au talon</li>
                <li>semelle extérieure en caoutchouc</li>
            </ul>
            <button class="button btn-taille">
                tailles
            </button>
        </div>
        <div class="acheter">
            <a class=" btn-acheter">
                <i class="icon left panier"></i>
                <em>acheter</em>
            </a>
        </div>
    </ion-content>
</ion-view>
